<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width", initial-scale=1"/>
        <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
     <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">

    <title>{% block title %}Home{% endblock %}</title>
    <body>
    <header>
        {% block content%}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages%}
                    <p>{{msg}}</p>
                {%endfor%}
            {% endif %}
        {% endwith %}
        <div class ="container">
            <div class="logo">
                    <a href="">FaceGym</a>
            </div>
            <a href="javascript:void(0)" class="ham-burger">
                <span></span>
                <span></span>
            </a>
            <div class="nav">
                <ul>
                   <li><a href="home">Home</a> </li>
                    <li><a href="realtime">Real Time</a> </li>
                    <li><a href="facilities">Facilities</a> </li>
                    <li><a href="classes">Classes</a> </li>
                    <li><a href="membership">Membership</a> </li>
                    <li><a href="about_us">About</a> </li>
                    {% if session['name']%}
                    <li>
                        <a href="profile">Profile</a>
                        <a href="logout">Logout</a>
                    </li>
                    {% else %}
                    <li><a href="login">Login</a> </li>
                    <li><a href="sign-up">Sign Up</a> </li>
                    {% endif %}
                </ul>
            </div>
        </div>


    {%endblock%}
    </header>
    <section class="home">
        <div class="container">
            <h1> Let's go for <span>gym</span> right <span>now</span></h1>
            <h1> Are you ready <span>for it</span>?</h1>
        </div>
            <a href="#about" class="go-down">
                <i class="fa fa-angle-down" aria-hidden="true"></i>
            </a>
    </section>

    <section class="about" id="about">
        <div class="container">
            <div class="content">
                <div class="box">
                    <div class="inner">
                        <div class="img">
                            <img src="static/images/about1.png" alt="" width="400" height="326"/>
                        </div>
                        <div class="text">
                            <h4> Best Training</h4>
                            <p> Making excuses burn zero calories. With 13 clubs and counting, we strive for greatness at any club of your choice.</p>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="inner">
                        <div class="img">
                            <img src="static/images/about2.jpg" alt="" width="400" height="326"/>
                        </div>
                        <div class="text">
                            <h4> Nice consultation</h4>
                            <p> Making excuses burn zero calories. With 13 clubs and counting, we strive for greatness at any club of your choice.</p>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="inner">
                        <div class="img">
                            <img src="static/images/about3.jpg" alt="" width="400" height="326"/>
                        </div>
                        <div class="text">
                            <h4> Build Healthy Body</h4>
                            <p> Making excuses burn zero calories. With 13 clubs and counting, we strive for greatness at any club of your choice.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="start">
       <div class="container">
           <div class="content">
               <div class="box text">
                   <h3> Join Our Membership Today</h3>
                   <p> Our gym is offering very special promotion for the people who is becoming out members in our gym!!!</p>
                   <a href="membership" class="btn"> Join Us </a>
               </div>
               <div class="box img">
                   <img src="static/images/start1.jpg" alt="start today"/>
               </div>
           </div>
       </div>
    </section>

    <section class="gallery">
        <h2> Workout Gallery</h2>
        <div class="content">
            <div class="box">
                <img src="static/images/gallery1.jpg" alt="gallery" width="800" height="500" />
            </div>
             <div class="box">
                <img src="static/images/gallery2.jpg" alt="gallery" width="800" height="500" />
            </div>
             <div class="box">
                <img src="static/images/gallery3.jpg" alt="gallery" width="800" height="500" />
            </div>
             <div class="box">
                <img src="static/images/gallery4.jpg" alt="gallery" width="800" height="500" />
            </div>
        </div>
    </section>

    <section class="contact">
        <div class="container">
            <div class="content">
                <div class="box form">
                    <form action="/home" method="POST">
                        <input type="text" name="form-name" placeholder="Enter Name">
                        <input type="text" name="form-email" placeholder="Enter Email">
                        <input type="text" name="form-mobile" placeholder="Enter Mobile">
                        <textarea placeholder="Enter Message" name="form-message"></textarea>
                        {% if session['name']%}
                        <button type="submit">Send Message</button>
                        {% else %}
                        <button type="submit"><a href="login" style="color:white">Send Message</a></button>
                        {% endif %}
                    </form>
                </div>
                <div class="box text">
                    <h2> Get Connected with Us</h2>
                    <p> This is our gym. Just join us. This is our gym. Just join us.
                        This is our gym. Just join us. This is our gym. Just join us.</p>
                    <div class="info">
                        <ul>
                            <li><span class="fa fa-map-marker"></span>11-1 Bayan Lepas, Pulau Pinang</li>
                            <li><span class="fa fa-phone"></span>(60)11-22211223</li>
                            <li><span class="fa fa-envelope"></span>info@facegym.com</li>
                        </ul>
                    </div>
                    <div class="social">
                        <a href=""><span class="fa fa-facebook"></span> </a>
                        <a href=""><span class="fa fa-linkedin"></span> </a>
                        <a href=""><span class="fa fa-skype"></span> </a>
                        <a href=""><span class="fa fa-youtube-play"></span> </a>
                    </div>
                    <div class="copy">
                        PowerBy &copy FaceGym
                    </div>
                </div>
            </div>
        </div>
    </section>




    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
    <script>
        $(document).ready(function(){
            $(".ham-burger").click(function(){
                $(".nav").toggleClass("open")
                $(this).toggleClass("active")
            })
        })
    </script>


    </body>
    </head>
</html>