<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width", initial-scale=1"/>
        <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
     <link rel="stylesheet" href="{{url_for('static',filename='membership-style.css')}}">

    <title>{% block title %}Classes{% endblock %}</title>
    <body>
    <header>
         {% block content%}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages%}
                    <p>{{msg}}</p>
                {%endfor%}
            {% endif %}
        {% endwith %}
        <div class ="container">
            <div class="logo">
                    <a href="">FaceGym</a>
            </div>
            <a href="javascript:void(0)" class="ham-burger">
                <span></span>
                <span></span>
            </a>
            <div class="nav">
                <ul>
                   <li><a href="home">Home</a> </li>
                    <li><a href="realtime">Real Time</a> </li>
                    <li><a href="facilities">Facilities</a> </li>
                    <li><a href="classes">Classes</a> </li>
                    <li><a href="membership">Membership</a> </li>
                    <li><a href="about_us">About</a> </li>
                    {% if session['name']%}
                    <li>
                        <a>{{ session['name'] }}</a>
                        <a href="logout">Logout</a>
                    </li>
                    {% else %}
                    <li><a href="login">Login</a> </li>
                    <li><a href="sign-up">Sign Up</a> </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        {%endblock%}
    </header>

    <section class="home">
        <div class="container">
            <h1> Membership </h1>
            <p> Enjoy and join our gym as a member.</p>
        </div>
            <a href="#membership" class="go-down">
                <i class="fa fa-angle-down" aria-hidden="true"></i>
            </a>
    </section>
    <div class="pricing-plan-container" id="membership">
        <section class="pricing-plan">
        <div class="pricing-plan__header">
            <h1 class="pricing-plan__title">Silver Pack</h1>
            <h2 class="pricing-plan__summary">For those who is beginner</h2>
        </div>
        <div class="pricing-plan__description">
            <ul class="pricing-plan__list">
                <li class="pricing-plan__feature">Feature 1</li>
                <li class="pricing-plan__feature">Feature 2</li>
                <li class="pricing-plan__feature">Feature 3</li>
            </ul>
        </div>
        <div class="pricing-plan__actions">
            <p class="pricing-plan__cost">RM48</p>
            <p class="pricing-plan__text">per month</p>
            <a href="payment_detail2" class="pricing-plan__button">Join Us</a>
        </div>
    </section>

        <section class="pricing-plan pricing-plan--highlighted">
        <div class="pricing-plan__special-text">Recommended</div>
        <div class="pricing-plan__header">
            <h1 class="pricing-plan__title">Starter Pack</h1>
            <h2 class="pricing-plan__summary">For those who is beginner</h2>
        </div>
        <div class="pricing-plan__description">
            <ul class="pricing-plan__list">
                <li class="pricing-plan__feature">Feature 1</li>
                <li class="pricing-plan__feature">Feature 2</li>
                <li class="pricing-plan__feature">Feature 3</li>
            </ul>
        </div>
        <div class="pricing-plan__actions">
            <p class="pricing-plan__cost">RM68</p>
            <p class="pricing-plan__text">per month</p>
            {% if session['name']%}
            <a href="payment_detail1" class="pricing-plan__button">Join Us</a>
            {% else %}
            <a href="login" class="pricing-plan__button">Join Us</a>
            {% endif %}
        </div>
    </section>

        <section class="pricing-plan">
        <div class="pricing-plan__header">
            <h1 class="pricing-plan__title">Gold Pack</h1>
            <h2 class="pricing-plan__summary">For those who is beginner</h2>
        </div>
        <div class="pricing-plan__description">
            <ul class="pricing-plan__list">
                <li class="pricing-plan__feature">Feature 1</li>
                <li class="pricing-plan__feature">Feature 2</li>
                <li class="pricing-plan__feature">Feature 3</li>
            </ul>
        </div>
        <div class="pricing-plan__actions">
            <p class="pricing-plan__cost">RM88</p>
            <p class="pricing-plan__text">per month</p>
            <a href="payment_detail3" class="pricing-plan__button">Join Us</a>
        </div>
    </section>

    </div>

    <section class="contact">
        <div class="container">
            <div class="content">
                <div class="box form">
                    <form>
                        <input type="text" placeholder="Enter Name">
                        <input type="text" placeholder="Enter Email">
                        <input type="text" placeholder="Enter Mobile">
                        <textarea placeholder="Enter Message"></textarea>
                        {% if session['name']%}
                        <button type="submit">Send Message</button>
                        {% else %}
                        <button type="submit"><a href="login" style="color:white">Send Message</a></button>
                        {% endif %}
                    </form>
                </div>
                <div class="box text">
                    <h2> Get Connected with Us</h2>
                    <p> This is our gym. Just join us. This is our gym. Just join us.
                        This is our gym. Just join us. This is our gym. Just join us.</p>
                    <div class="info">
                        <ul>
                            <li><span class="fa fa-map-marker"></span>11-1 Bayan Lepas, Pulau Pinang</li>
                            <li><span class="fa fa-phone"></span>(60)11-22211223</li>
                            <li><span class="fa fa-envelope"></span>info@facegym.com</li>
                        </ul>
                    </div>
                    <div class="social">
                        <a href=""><span class="fa fa-facebook"></span> </a>
                        <a href=""><span class="fa fa-linkedin"></span> </a>
                        <a href=""><span class="fa fa-skype"></span> </a>
                        <a href=""><span class="fa fa-youtube-play"></span> </a>
                    </div>
                    <div class="copy">
                        PowerBy &copy FaceGym
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
    <script>
        $(document).ready(function(){
            $(".ham-burger").click(function(){
                $(".nav").toggleClass("open")
                $(this).toggleClass("active")
            })
        })
    </script>
    </body>
</html>