@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
html{
    scroll-behavior:smooth;
}
body {
        padding: 0px;
        margin: 0;
        background-color: #f3f3f3;
    }
    *{
    box-sizing : border-box;
    margin:0;
    padding:0;
    font-family: 'Oswald', sans-serif;
}

header{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 10;
    background-color: #000000;
    padding: 15px 15px;
}

header .container{
    -webkit-display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo a{
    font-size: 30px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
}

header .nav{
    position: fixed;
    background-color: #c11325;
    width: 280px;
    top: 0;
    right:0;
    height: 100%;
    z-index: 99;
    padding: 100px 0px 15px;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: transform .5s ease;
    transition: transform .5s ease;
}
header .nav.open{
    -webkit-transform:translateX(0);
    transform:translateX(0);
}
header .nav ul{
    list-style: none;
    margin: 0;
    padding: 0px;
}

header .nav ul li{
    display: block;
}

header .nav ul li a{
    text-decoration: none;
    font-size: 30px;
    font-weight: 400;
    color:#ffffff;
    display: block;
    position: relative;
    padding:10px 30px;
}

header .nav ul li a::before{
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 0px;
    background-color:#000000;
    opacity:.2;
    -webkit-transition: width .5s ease;
    transition: width .5s ease;
    z-index: -1;
}

header .nav ul li a:hover::before{
    width: 180%;
}
header .ham-burger{
    display: inline-block;
    position: relative;
    z-index: 100;
}

header .ham-burger span{
    height: 3px;
    margin-bottom: 8px;
    display: block;
    background-color:#ffffff;
    width:30px;
    -webkit-transition: transform .5s ease;
    transition: transform .5s ease;
}
header .ham-burger span:nth-child(1){
    transform-origin: left top;
}

header .ham-burger span:nth-child(2){
    transform-origin: left bottom;
}

header .ham-burger.active span:nth-child(1){
    -webkit-transform: rotate(45deg) translateY(-6px);
    transform: rotate(45deg) translateY(-6px);
}

header .ham-burger.active span:nth-child(2){
    -webkit-transform: rotate(-45deg) translateY(6px);
    transform: rotate(-45deg) translateY(6px);
}

.container{
    max-width: 11700px;
    margin:auto;
}

    table {
        position: absolute;
        left: 50%;
        top: 30%;
        transform: translate(-50%, -50%);
        border-collapse: collapse;
        width: 800px;
        height: 200px;
        border: 1px solid #bdc3c7;
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
    }

    tr {
        transition: all .2s ease-in;
        cursor: pointer;
    }

    th,
    td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    #header {
        background-color: blue  ;
        color: #fff;
    }

    h1 {
        font-weight: 600;
        text-align: center;
        background-color: #16a085;
        color: #fff;
        padding: 10px 0px;
    }

    tr:hover {
        background-color: #f5f5f5;
        transform: scale(1.02);
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
    }

    @media only screen and (max-width: 768px) {
        table {
            width: 90%;
        }
    }
